# 파이썬으로 데이터 주무르기,  pandas

### I.  pandas  시작하기

### Prerequisite: Table

- 행과 열을 이용해서 데이터를 저장하고 관리하는 자료구조(컨테이너)
- 주로 행은 개체, 열은 속성을 나타냄

### Pandas 시작하기
`import pandas`를 통해서 진행

In [ ]:
import pandas as pd

### II. pandas로 1차원 데이터 다루기 - Series

### Series?
- 1-D labeled **array**
- 인덱스를 지정해줄 수 있음

In [7]:
s= pd.Series
([1,4,9,16,25])
s

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [9]:
t = pd.Series({"one":1,"two":2,"three":3,"four":4,"five":5})
t

one      1
two      2
three    3
four     4
five     5
dtype: int64

### Series + Numpy
- Series는 ndarray와 유사하다!

In [10]:
s[1]

4

In [12]:
t[1]

2

In [13]:
t[1:3]

two      2
three    3
dtype: int64

In [14]:
s[s > s.median()] # 자기 자신의 median(중앙값)보다 큰 값들만 가지고 오기

3    16
4    25
dtype: int64

In [16]:
s[[3, 1, 4]]

3    16
1     4
4    25
dtype: int64

In [17]:
import numpy as np

np.exp(s) #지수함수

0    2.718282e+00
1    5.459815e+01
2    8.103084e+03
3    8.886111e+06
4    7.200490e+10
dtype: float64

In [18]:
s.dtype # 타입형 확인 하고 싶을때 사용

dtype('int64')

### Series + dict
- series는 dict과 유사하다.

In [19]:
t

one      1
two      2
three    3
four     4
five     5
dtype: int64

In [20]:
t['one']

1

In [22]:
# Series에 값 추가

t['six'] = 0
t

one      1
two      2
three    3
four     4
five     5
six      0
dtype: int64

In [23]:
'six' in t

True

In [24]:
'seven' in t

False

In [30]:
t.get('seven',0) 
#t.get("@")@을 찾고 없으면 아무것도 반환 안함.
#t.get("@",0) @을 찾고 없으면 0을 반환
t

one      1
two      2
three    3
four     4
five     5
six      0
dtype: int64

### Series에 이름 붙이기
- `name`속성을 가지고 있다.
- 처음 Series를 만들 때 이름을 붙일 수 있습니다.

In [34]:
s = pd.Series(np.random.randn(5),name = "random_nums")
 
s

0    2.410900
1    0.453558
2   -0.217535
3    1.037281
4    0.365736
Name: random_nums, dtype: float64

In [36]:
s.name = "임의의 난수" #이름 붙이기
s

0    2.410900
1    0.453558
2   -0.217535
3    1.037281
4    0.365736
Name: 임의의 난수, dtype: float64